.wrapper
  display: flex

\:global
  .ant-popover-content
    width: 430px

.age 
  margin-top: 40px

.annotation
  display: -webkit-box
  -webkit-line-clamp: 4
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

.tags
  display: flex
  flex-wrap: wrap
  margin-top: 10px

.tag
  margin-top: 4px

.description
  margin-left: 45px