.carousel
  \:global
    .slick-disabled
      display: none !important

.arrow
  color: black !important
  font-size: 44px !important
  border: 1px solid transparent !important
  box-shadow: 0 2px #00000004 !important
  border-color: #d9d9d9 !important
  width: 30px !important
  height: 30px !important
  background: #fff !important
  z-index: 10

\:global
  .ant-carousel
    max-width: 100% !important
